#cv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.catchphrase {
  max-width: 50%;
  text-align: justify;
}

.catchphrase strong {
  color: var(--accent);
}

.download {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.download div {
  display: flex;
  gap: 1rem;
}

.download a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--accent);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.download a:hover {
  background-color: var(--accent2);
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid var(--accent);
    cursor: pointer;
    margin: 3rem 0;
}

.tab {
    padding: 10px 20px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 8px 8px 0 0;
    background: #f5f5f5;
    transition: background 0.2s;
    color: var(--accent)
}

.tab:hover {
    background: #e8e8e8;
}

.tab.active {
    background: var(--accent);
    color: white;
    border-color: var(--accent);
    font-weight: bold;
}

.tab-content {
    padding: 2rem;
    width: 100%;
    display: none;
}

.tab-content.active {
    display: flex;
    justify-content: center;
}

.cards {
  margin: 0;
  align-items: stretch;
  max-width: 60%;
}

.card {
  max-width: none;
  justify-content: space-between;
}

.card h3, .card p {
    text-align: center;
}

.card strong {
    color: var(--accent);
}

.card p {
    font-weight: bold;
}

#other {
  gap: 2rem;
  flex-wrap: wrap;
}

#other .card {
  justify-content: flex-start;
}

@media screen and (width < 800px) {
  #cv-container {
    margin-bottom: 5rem;
  }

  .catchphrase {
    max-width: 100%;
  }

  .cards {
    max-width: 90%;
  }

  #other {
    flex-direction: column
  }
}