.diplomes {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.diplomes a {
  text-decoration: none;
}

.diplomes img {
  max-height: 300px;
}

@media screen and (width < 800px) {
  .diplomes {
    margin-bottom: 5rem;
  }
}